
<h1> Une nouvelle série vient d'être ajoutée !</h1>
<h3> Il d'agit de : {{ program.title }}</h3>

<h3> Tu peux la voir en cliquant sur le lien <a href="{{ url("program_show", {"id":program.id}) }}"> {{ program.title }} </a> </h3>
