
{% extends "base.html.twig" %}

{% block body %}
    <h1> Coucou </h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
        <button type="submit" name="btnSearch">Add category</button>
    {{ form_end(form) }}
{% endblock %}